<div class="container">
    <div class="row mt-3">
        <div class="col-4">
            <h2 class="ml-4 pl-2 mt-5 pt-5 pl-1">Burgers Served</h2>

            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>

        <div class="col-4 text-center">
            <img id="burgerPicture" class="mb-1" src="assets/img/burger.png" alt="burger picture" />

            <h1 class="mt-2">Eat-da-Burger!</h1>

            <form class="burgerForm">
                <textarea class="py-4 mt-2 mb-3" rows="1" id="burgerInput"></textarea>

                <button class="mb-3 burgerSubmit bg-primary border-primary text-white p-2 rounded" type="submit">Submit</button>

                <p><strong>Enter a burger you want to eat, then click the Submit button.</strong></p>
            </form>
        </div>

        <div class="col-4">
            <h2 class="ml-4 pl-2 mt-5 pt-5">Burgers Devoured</h2>

            <ol>
                {{#each burgers}}
                {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>