<li class="my-3" data-id="{{id}}">
    {{burger_name}}

    {{#unless devoured}}
    <button class="eatBurger bg-primary border-primary text-white rounded ml-1 p-1">
        Eat!
    </button>
    {{/unless}}
</li>